body {
  background-color: black;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
div {
  border: 15px solid white;
  border-radius: 30px;
  border-width: 15px;
}

h1 {
  font-size: 3em;
  animation: rainbowText 15s linear infinite;
}

@keyframes rainbowText {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  57% {
    color: blue;
  }
  71% {
    color: indigo;
  }
  85% {
    color: violet;
  }
  100% {
    color: red;
  }
}

p {
  font-size: 1.5em;
  margin-top: 20px;
  animation: rainbowText 15s linear infinite;
}

#foot {
  margin-top: 40px;
  font-size: 2em;
}
